<ion-view view-title="Configurações">
    <ion-content class="padding">
      <h2> Configurações </h2>
      <div class="list">

        <div class="item item-divider">
                <ul class="list">

                        <li class="item item-toggle">
                           salvar fotos no aparelho
                           <label class="toggle toggle-assertive">
                             <input type="checkbox">
                             <div class="track">
                               <div class="handle"></div>
                             </div>
                           </label>
                        </li>
                      
                       
                      
                      </ul>

                       <ul class="list">

            <li class="item item-toggle">
               adicionar conta
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          
           
          
          </ul>
          <ul class="list">

                <li class="item item-toggle">
                   editar perfil
                   <label class="toggle toggle-assertive">
                     <input type="checkbox">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </li>
              
               
              
              </ul>
              
              <ul class="list">

                    <li class="item item-toggle">
                       idioma
                       <label class="toggle toggle-assertive">
                         <input type="checkbox">
                         <div class="track">
                           <div class="handle"></div>
                         </div>
                       </label>
                    </li>
                  
                   
                  
                  </ul>
                  <ul class="list">

                        <li class="item item-toggle">
                           Notificaçoes
                           <label class="toggle toggle-assertive">
                             <input type="checkbox">
                             <div class="track">
                               <div class="handle"></div>
                             </div>
                           </label>
                        </li>
                      
                       
                      
                      </ul> 
        </div>
      
       
          <ion-list>
                <ion-radio ng-model="choice" ng-value="'A'">sobre nos</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'">relatar problema</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'">sobre nos/ ajuda</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'">sair</ion-radio>
              </ion-list>
      </div>

      
    </ion-content>
  </ion-view>
  