<ion-view view-title="Dashboard">
    <ion-content class="padding">
      <h2>Login</h2>

<!--Logo-->
      <img src="">

      

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Senha">
        </label>
      </div>

      <button class="button button-dark" ng-click="">
        Entrar
      </button>
      
    </ion-content>
  </ion-view>
  