<ion-view view-title="{{filhote.nome}}">
    <ion-content class="padding">

      <button ng-click="voltarDash()">voltar</button>

        <div class="list card">

            <div class="item item-avatar">
              <img src={{filhote.imagem}}>
              <h2>{{filhote.nome}}</h2>
              <p>{{filhote.nascimento}}</p>
              <p>{{filhote.sexo}}</p>
            </div>
          
            <div class="button-bar">
              <a class="button">Escola</a>
              <a class="button">Fotos</a>
              <a class="button">Médico</a>
              <a class="button">info</a>
            </div>
          
          </div>

    <p> Timeline
    </p>

    </ion-content>
  </ion-view>
  